<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragments/layout}"
        layout:fragment="contents"
>
<head>
    <meta charset="UTF-8">
    <title>도서 검색 디테일</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/common/css/bookDetail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/common/js/detail.js"></script>
</head>

<div class="container-content layout-container bg-body">
    <div class="layout-page">
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row">
                    <div class="mb-4">
                        <div class="card book">
                            <img class="book-img" th:src="${book.getImage()}" alt="도서 표지"/>
                            <div class="book-title" th:text="${book.getTitle()}"></div>
                            <p class="book-author" th:text="${book.getAuthor()}"></p>
                            <hr>
                            <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modal" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content rounded-4 shadow">
                                        <div class="modal-header border-bottom-0">
                                        </div>
                                        <div class="modal-body py-0">
                                            <p id="message" name="message" th:text="${message}" th:value="${message}"></p>
                                            <input type="hidden" id="existMessage" name="existMessage" th:value="${existMessage}">
                                        </div>
                                        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                                            <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal" onclick="modal_off()">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>&nbsp;📓&nbsp;줄거리</p>
                            <span class="fs-tiny" th:text="${book.getDescription()}"></span>
                        </div>
                        <div>
                            <div>
                                <input type="hidden" name="isbn" id="isbn" th:value="${book.getIsbn()}">
                                <button class="book-button" th:onclick="save()">
                                     '
                                    <span th:text="${session.member.getNickname()}"/>
                                    '님의 서재에 등록하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>