<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      layout:fragment="contents"
>
<head>
    <meta charset="UTF-8">
    <title>책속으로 정보</title>
    <link rel="stylesheet" href="/common/css/profile.css" />
    <link rel="stylesheet" href="/common/css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"/>
    <script src="/common/js/profile.js"></script>
</head>
<body class='body'>
<div class="layout-container bg-body content-height container-content">
    <div class="layout-page">
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="row mb-2">
                    <div class="">
                        <div class="card">
                            <div class="home-edit">

                            </div>
                            <div class="card-body">
                                <p>
                                    '책속으로'는 독서를 좋아하는 사람들을 위한 어플리케이션입니다. <br>
                                    독서후, 나의 생각을 정리하는 도구가 되길 바랍니다. <br>
                                    다른 이용자들에게 책에 대한 나의 평점을 공유해보세요. 📓
                                </p>
                                <br><br><br>
                                <p>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/common/js/profile.js"></script>
</body>
</html>