<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:fragment="fragment-header">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="description" content="" />

    <title>Thymeleaf header</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/bootstrap/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/bootstrap/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/bootstrap/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/bootstrap/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/bootstrap/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/bootstrap/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/bootstrap/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="/common/css/header.css">

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <script src="/bootstrap/assets/vendor/js/helpers.js"></script>
</head>
<!--<div>-->
<!--    <img src="/common/img/logo/logo.png" style="width:100%;">-->
<!--</div>-->

<div class="layout-wrapper layout-content-navbar" th:if="${session.member}">

    <div class="container-header bg-body">
        <!-- Layout container -->

        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="/" class="app-brand-link">
                  <span class="app-brand-logo demo">
                      <img class="nav-logo" src="/common/img/logo/logo.png">
                  </span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
                <!-- Dashboard -->
                <li class="menu-item active">
                    <a href="/" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-home-circle"></i>
                        <div data-i18n="Analytics">Dashboard</div>
                    </a>
                </li>

                <!-- Layouts -->
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-layout"></i>
                        <div >Book</div>
                    </a>

                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/book/search?title=" class="menu-link">
                                <div data-i18n="Without menu">도서 검색</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/bookshelf/list" class="menu-link">
                                <div data-i18n="Without menu">내 책장</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">User</span>
                </li>
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-dock-top"></i>
                        <div data-i18n="Account Settings" th:text="${session.member.getNickname()}"></div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/member/profile" class="menu-link">
                                <div data-i18n="Account">MyPage</div>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="/member/logout" class="menu-link">
                                <div data-i18n="Account">LOGOUT</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- / Menu -->

        <div class="layout-page">

            <div class="main-logo">
                <div>
                    <a href="/">
                        <img class="logo" src="/common/img/logo/logo_header_korean.png">
                    </a>
                </div>
            </div>

            <!-- Navbar -->
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">

                <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none" onclick="javascript:void(0)">
                    <a class="nav-item nav-link px-0 me-xl-4">
                        <i class="bx bx-menu bx-sm"></i>
                    </a>
                </div>

                <div class="navbar-nav-right d-flex align-items-center nav-size search-size" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center search-100 search-size2">
                        <div class="nav-item d-flex align-items-center search-100">
                            <i class="bx bx-search fs-4 lh-0"></i>
                            <form class="search-100 search-size2" action="/book/search" method="get">
                                <input type="text" class="form-control border-0 shadow-none search-100"
                                       placeholder="도서를 검색해주세요." aria-label="Search..."
                                       name="title" />
                            </form>
                        </div>
                    </div>
                    <!-- /Search -->
                    <button th:if="!${session.member}" class="login-button" th:onclick="login()">Login</button>
                    <ul class="navbar-nav flex-row align-items-center ms-auto" th:if="${session.member}">
                        <!-- User -->
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img th:if="${session.member}" th:src="${session.member.profile_image_url}" class="profile_img" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img th:if="!${session.member}" src="/bootstrap/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                                    <img th:if="${session.member}" th:src="${session.member.profile_image_url}" class="profile_img" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1" th:if="${session.member}">
                                                <span class="fw-semibold d-block" th:text="${session.member.nickname}"></span>
                                                <small class="text-muted" th:text="${session.member.id}"></small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" onclick="profile()">
                                        <i class="bx bx-user me-2"></i>
                                        <span class="align-middle">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" onclick="info()">
                                        <i class="fa-solid fa-circle-info"></i>
                                        <span class="align-middle">&nbsp;책속으로</span>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/member/logout">
                                        <i class="bx bx-power-off me-2"></i>
                                        <span class="align-middle">LogOut</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- / Navbar -->
        </div>
    </div>
    <script>
        function profile() {
            location.href='/member/profile';
        }

        function info() {
            location.href='/intobooks/info';
        }
    </script>
</div>
</html>