<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Layout html</title>
    <!-- header : meta, css, js -->
    <link rel="stylesheet" href="/common/css/font.css">
</head>
<body class="font body">

    <!-- header -->
    <div layout:replace="~{fragments/header :: fragment-header}"></div>

    <!-- contents -->
    <th:block layout:fragment="contents"></th:block>

    <!-- footer -->
    <footer layout:replace="~{fragments/footer :: fragment-footer}"></footer>

    <div layout:replace="~{fragments/script :: script}"></div>
    <th:block layout:fragment="custom-javascript"></th:block>

</body>
</html>