<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/"
  data-template="vertical-menu-template-free"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}"
  layout:fragment="contents"
>
<head>
    <title>도서</title>
    <link rel="stylesheet" href="/common/css/index.css"/>
</head>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="container-content layout-container bg-body">
        <!-- Layout container -->
        <div class="layout-page">
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl container-p-y-u">
                    <div class="row">
                        <div class="mb-4">
                            <div class="h6">&nbsp;☁️&nbsp;오늘의 명언</div>
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-12">
                                        <div class="card-body">
                                            <h6 class="card-title">하루라도 책을 읽지 않으면 입안에 가시가 돋는다.  -안중근-</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 order-1">
                            <div class="row">
                                <div class="mb-4">
                                    <div class="h6">
                                        &nbsp;📓&nbsp;'
                                        <span th:text="${session.member.getNickname()}"></span>
                                        '님의 책장 리스트
                                        <span class="list_plus mouse_pointer" th:onclick="bookShelfList()">➕</span>
                                    </div>
                                    <div class="card">
                                        <div class="card-body box">
                                            <div class="slider" th:if="${bookShelves != null}">
                                                <img class="slide book-img-size mouse_pointer"
                                                     th:each="bookShelf: ${bookShelves}"
                                                     th:src="${bookShelf.getImage()}"
                                                     th:value="${bookShelf.getIsbn()}"
                                                     th:onclick="bookReport([[${bookShelf.getId()}]], [[${bookShelf.getReportId()}]])">
                                            </div>
                                            <div th:if="${message != null}" th:text="${message}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Total Revenue -->
                        <div class="col-lg-6 order-3 order-lg-6 mb-4">
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6 class="card-header m-0 me-2 pb-3">&nbsp;📓&nbsp;올해의 독서량</h6>
                                        <div id="totalRevenueChart" class="px-2"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <div class="dropdown">
                                                    <button
                                                            class="btn btn-sm btn-outline-primary dropdown-toggle"
                                                            type="button"
                                                            id="growthReportId"
                                                            data-bs-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false"
                                                    >2024</button>
                                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                                        <a class="dropdown-item" th:value="3">3개월</a>
                                                        <a class="dropdown-item" th:value="6">6개월</a>
                                                        <a class="dropdown-item" th:value="12">12개월</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
<script th:inline="javascript">
    function bookReport(shelfId, reportId) {
        console.log(shelfId)
        console.log(reportId)

        if(reportId == null) {
            location.href='/report/form?id=' + shelfId;
        }else {
            location.href='/report/view/' + reportId;
        }
    }

    function bookShelfList() {
        location.href = '/bookshelf/list';
    }

    function login() {
        location.href = '/member/login';
    }
</script>
</html>
