.container-content {
    min-height: 87vh !important;
}

.container-content .h6 {
    color: black !important;
}

.book-img {
    display: block !important;
    cursor: pointer;
}

.book-img-size {
    margin: 2% 1% 4% 1%;
    width: 30%;
    height: 176px;
}

.book-button {
    width: 100%;
    margin-top: 2%;
    float: right;
    background: #703b11 !important;
    color: white;
    height: 35px;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
    border: 2px solid #795548;
}

