.book-info {
    display: block !important;
    padding: 4%;
}

.book-img {
    width: 37%;
    height: 176px;
    display: inline;
    float: left;
    margin-right: 6%;
    clear: both;
}

.book-title {
    min-height: 18vh !important
}

.book-author {
    height: 50px;
}

.book-description {
    font-weight: bold;
}

.fs-tiny {
    background: #f1e5cf;
    padding: 5%;
    border-radius: 10px;
    font-size: smaller !important;
}

.btn-register {
    float: right;
    background: #703b11 !important;
    color: white;
    margin: 2% 5%;
    width: 90%;
    height: 35px;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
    border: 2px solid #795548;
}

.book-aveRating{
    font-size: small;
}