.book {
    display: block !important;
    padding: 4%;
}

.book-img {
    width: 117px;
    height: 176px;
    display: inline;
    float: left;
    margin-right: 20px;
    clear: both;
}

.book-title {
    height: 130px;
}

.book-author {
    height: 50px;
}

.book-button {
    float: right;
    background: #353552;
    color: white;
    margin: 2% 0%;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
}

#modal {
    position: absolute !important;
    height: 300px;
    top: 23%;
}

.modal-dialog {
    display: none;
}