.container-content .h6 {
    color: black !important;
    font-weight: 500 !important;
}

.book-list {
    display: block !important;
    cursor: pointer;
    margin-left: 1%;
}

.book-img-frame {
    display: inline-block;
    margin: 2% !important;
    overflow: hidden;
}

.book-img {
    width: 109px;
    height: 180px !important;
    object-fit: fill;
}

.btn-more {
    width: 100%;
    margin-bottom: 80px !important;
    margin-top: 2%;
    float: right;
    background: #703b11 !important;
    color: white;
    height: 45px;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
    border: 2px solid #795548;
}

