.content-wrapper {
    background-image: url("../img/background_404.png") !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

.container-content, .content-height {
    background: #d1bfad !important;
}

.logo {
    margin-top: 8% !important;
    width: 47% !important;
}

.error-message {
    text-align: -webkit-center;
    color: cadetblue;
}