.container-header {
    display: flex;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}

.container-content {
    min-height: 87vh !important;
}

.container-p-y-u {
    padding-top: 1.625rem !important;
}

.menu .app-brand.demo{
    height: 11% !important;
}

.nav-size {
    flex-basis: 87% !important;
}

.logo-img {
    width: 40%;
    margin: -3px;
}

.kakao_login_img {
    width: 100% !important;
    height: 100% !important;
    border-radius: 100px;
}

.search-size {
    width: auto !important;
}

.search-size2 {
    width: 100% !important;
}