.container-header {
    display: flex;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}

.layout-navbar {
    width: 90% !important;
    border-radius: 10px !important;
}

.main-logo {
    width: 100%;
    padding: 4%;
    text-align: -webkit-center;
}

.main-logo .logo{
    width: 60%;
}

.menu .app-brand.demo{
    height: 20% !important;
}

.profile_img {
    width: 100% !important;
    border-radius: 50%;
}

.search-size {
    width: auto !important;
}

.search-100 {
    width: 100% !important;
}

.login-button {
    float: right;
    background: #703b11 !important;
    color: white;
    margin: 2% 0%;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
}

/* nav */
.nav-logo {
    width: 40%;
}

.nav-size {
    flex-basis: 80% !important;
}

.fa-user {
    margin-left: 7px;
    margin-right: 17px;
}

.menu-link {
    color: #697a8d !important;
}

.menu-link:hover, .menu-link:active {
    color: #703b11 !important;
    background-color: rgba(67, 89, 113, 0.04) !important;
}

.nav_active {
    color: #703b11 !important;
    font-weight: bold !important;
}

html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item.open > .menu-link, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item.open > .menu-link, html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):focus,
html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item.open > .menu-link, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item.open > .menu-link, html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):hover, .layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner .menu-item .menu-link:not(.active):focus{
    color: #703b11;
    font-weight: bold;
}