.container-header {
    display: flex;
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
}

.layout-navbar {
    width: 90% !important;
    border-radius: 10px !important;
}

.main-logo {
    width: 100%;
    padding: 4%;
    text-align-last: center;
}

.main-logo .logo{
    width: 60%;
}

.menu .app-brand.demo{
    height: 20% !important;
}

.nav-logo {
    width: 40%;
}

.nav-size {
    flex-basis: 80% !important;
}

.profile_img {
    width: 100% !important;
    border-radius: 50%;
}

.search-size {
    width: auto !important;
}

.search-100 {
    width: 100% !important;
}

.login-button {
    float: right;
    background: #703b11 !important;
    color: white;
    margin: 2% 0%;
    width: 20%;
    height: 35px;
    border-radius: 10px;
    font-size: smaller;
    font-weight: bold;
}