.box {
    position:relative;
    /* 가로 스크롤 */
    overflow: auto;
    white-space: nowrap;
    min-height: 23vh !important;
}

.slider{
    position:absolute;
    display:flex;
}

.slide {
    width: 30% !important;
    margin: 0 4% 0 0
}

.btn-plus {
    float: right;
    width: 34%;
    margin-right: 2%;
    padding: 1%;
    color: white;
    font-size: small;
    border-radius: 7px;
    background: #703b11;
    border: 2px solid #795548;
}

.today-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}