.box {
    position:relative;
    /* 가로 스크롤 */
    overflow: auto;
    white-space: nowrap;
    background-color: white;
    height: 210px !important;
    border-radius: 13px;
}

.card-body {
    width: 93% !important;
    margin: 1% 4% !important;
}

.slider{
    position:absolute;
    display:flex;
}

.slide {
    width: 140px !important;
    margin: 0 1% 1% 0%;
    height: 170px !important;
}

.btn-plus {
    float: right;
    width: 34%;
    margin-right: 3%;
    padding: 1%;
    color: white;
    font-size: small;
    border-radius: 7px;
    background: #703b11;
    border: 2px solid #795548;
}

.today-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}