.container-p-y-u {
    padding-top: 1.625rem !important;
}

.book-img-size {
    margin: 0 4% 0 0;
    width: 30%;
}

.search-100 {
    width: 100%;
}

.box {
    position:relative;
    overflow:hidden;
    height: 200px;
    /* 가로 스크롤 */
    overflow: auto;
    white-space: nowrap;
}

.slider{
    position:absolute;
    display:flex;
}
.slide {
    width:100%;
    height:160px;
}

.list_plus {
    float: right;
    padding-right: 10px;
}

.mouse_pointer {
    cursor: pointer;
}