.layout-page {
    padding-left: 0 !important;
}

.container-content {
    min-height: 100vh !important
}

.row {
    height: 70%;
}

.logo_section {
    display: block;
    margin: auto;
    text-align: center;
}

.logo {
    margin-top: 7%;
    width: 70% !important;
}

.btn-kakao-login {
    display: block;
}

.btn-kakao-login img {
    height: 6%;
    display: block;
    margin: 3% auto;
}