.container-content {
    min-height: 100vh !important
}

.row {
    height: 70%;
}

.background-height {
    height: 80% !important
}

.layout-logo {
    display: block;
    margin: auto;
    text-align: center;
}

.kakao_login_img {
    display: block;
}

.logo-img {
    width: 70% !important;
}

.kakao_login_img img {
    height: 6%;
    display: block;
    margin: auto;
}