.layout-page {
    padding-left: 0 !important;
}

.container-content {
    min-height: 100vh !important
}

.row {
    height: 70% !important;
}

.logo_section {
    display: block !important;
    margin: auto !important;
    text-align: center !important;
}

.logo {
    margin-top: 4% !important;
    width: 47% !important;
}

.btn-kakao-login {
    display: block;
}

.btn-kakao-login img {
    height: 6%;
    display: block;
    margin: 3% auto;
}