.home-edit {
    display: flex;
}

.return {
    width: 80%;
    float: right;
}

.card-body {
    border-radius: 8px;
    margin-top: 3%;
}

.card-img {
    width: 70% !important;
}

.btn {
    color: #fff !important;
    background-color: #703b11 !important;
    border-color: #703b11 !important;
}

.btn-home {
    display: flex;
    width: 20%;
}

.profile-return{
    display: contents;
}

.btn-return {
    margin: 1%;
    width: 98%;
    border-radius: 10px;
    font-size: smaller;
}

.profile-change{
    margin: auto;
    display: flex;
}

.btn-file {
    margin: 1%;
    width: 65%;
    border-radius: 10px;
    font-size: smaller;
}

.btn-edit {
    margin: 1%;
    width: 30%;
    border-radius: 10px;
    font-size: smaller;
}

.p-description {
    text-align: left;
    margin: 3%;
    font-size: small;
}