.swal2-popup {
    width: 89%;
    height: 57%;
}

.swal2-title {
    font-size: medium;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #703b11 !important;
}